body{
    background-color: yellow;
    margin: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

#i1, #i2{
    width: 320px;
    height: 220px;
    position: absolute;
    top: 0;
    
}

#i1{

left: 0;
border-radius: 6px;
}

#i2{
right: 0;
}

button{
    width: 220px;
    height: 80px;
    font-size: 24px;
    background-color: green;
    color: white;
    position: absolute;
    top: 70px;
    left: 530px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover{
    outline: 3px solid green;
    cursor: pointer;
}

p{
    text-align: center;
    position: absolute;
    top: 200px;
    left: 530px;
    font-weight: bold;
    font-size: 24px;
}

span{
    font-size: 32px;
}



@media(max-width: 780px){


#i1, #i2{
    width: 180px;
    height: 120px;

    
}


button{
    top: 140px;
    left: 140px;
    width: 160px;
    height: 60px;
    font-size: 18px;
}


p{
    text-align: center;
    position: absolute;
    top: 230px;
    left: 100px;
    font-weight: bold;
    font-size: 24px;
}



}